<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>SASA MATIC TRIBUTE CASINO</title>
</head>
<body>

    <h1>Online casino PAREMATIC</h1>
    <h1>hello {{temp_key}}</h1>

<form action="add" method="post">

    {% csrf_token %}


    first name: 
    <input type="text" name="firstname" id="firstname">
    <br>

    last name: 
    <input type="text" name="lastname" id="lastname">
    <br>

    <input type="submit">

</form>
</body>
</html>